@font-face {
  font-family: "Unbounded";
  src: url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
}

body {
  background-color: #292524;
}

/* Typography */

h1 {
  color: #fff;
  font-family: Unbounded;
  font-size: 50px;
  font-weight: 300;
  line-height: 62px;
  letter-spacing: 0em;
  text-align: left;
}
h1 span.pink-accent {
  font-size: 66px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
  color: #fe2784;
}

h2 {
  font-family: "Unbounded";
  font-size: 66px;
  font-weight: 600;
  line-height: 82px;
  letter-spacing: 0em;
  text-align: left;
  color: #fe2784;
}
h3 {
  font-family: "Unbounded";
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: #fe2784;
}
h4 {
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
}
p {
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}
p.flavor {
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
p.subtitle {
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}
p.eyebrow {
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: right;
  color: #fff;
}

/*Header*/
a {
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-weight: 300;
  line-height: 15px;
  letter-spacing: 2px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
}

/* Buttons */
a.btn {
  width: Hug (153px);
  height: Hug (44px);
  padding: 12px, 20px, 12px, 20px;
  border-radius: 48px;
  border: 1.6px;
  gap: 12px;
  border: 1.6px solid #f0eade33;
  background: #292524;
  padding: 0.75em;
  text-transform: capitalize;
  font-family: Plus Jakarta Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}
a.primary-cta {
  width: Hug (217px);
  max-width: 217px;
  height: Hug (52px);
  top: 674px;
  left: 612px;
  padding: 16px, 20px, 16px, 20px;
  border-radius: 48px;
  border: 1.6px;
  gap: 12px;
  background: #fe2784;
  border: 1.6px solid #f0eade33;
  padding: 1em;
  color: #000;
  margin: 0 auto;
  text-transform: uppercase;
}
a.primary-cta:after {
  width: 25px;
  height: 20px; 
  content: url("assets/arrow.svg");
  padding: 0px 10px;
}

/* Hero */
section.hero {
  display: flex;
  flex-direction: column;
}
.tc-container {
  width: 329px;
  position: absolute;
  top: 190px;
  left: 556px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tc1 {
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-weight: 200;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.tc2 {
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-weight: 200;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: right;
}
a {color: white; text-transform: uppercase; }
    .logo { height: 100%; }
    .img-collab { width: 100%; }
    .link { align-self: flex-end; }
    .container { display: flex; justify-content: space-evenly; }
    .container-blue { background-image: url('./static/bluestar.png'); 
                        background-position: right; 
                        background-repeat: no-repeat; 
                        background-size: 10vw; }
    .container-collab { background-image: url('./static/animated_stars.svg'); background-size: 100vw;
                            background-position-y: center; background-repeat: no-repeat;
                        background-position-x: 30vw;}
    .column { width: 30vw; text-align: center; padding: 40px; align-self: flex-end;}
    .column-wide { width: 66vw }
    .content-eyebrow { text-transform: uppercase; text-align: left; margin-bottom: 0px}
    .content-sponsor { margin-top: 0vh; margin-bottom: 10vh;  background-image: url('./static/animated_stars.svg')}
    .content-wheel { width: 100vw; display: flex;}
    .content-head { text-transform: uppercase; text-align: left; font-size: 5rem; margin-top: 0vh; margin-bottom: 0vh; 
    color: #FE2784;
    transform: rotate(5deg);
}

    .content-individual { width: 60vw; background-color: #AA98F3; padding: 40px; border-radius: 20px; margin: 20px; }
    .content-individual-blue { background-color: #2F98FB}
    .content-individual-pink { background-color: #FE2784} 

    .flourish-pink { background-image: url('./static/pinkstar.png'); 
    height: 10vw; 
    width: 100vw;
    background-size: 10vw;
    background-repeat: no-repeat;
    background-position: left; 
    padding: 0px; margin: 0px;}

    .flourish-yellow { background-image: url('./static/yellowstar.png'); 
    height: 10vw; 
    width: 100vw;
    background-size: 10vw;
    background-repeat: no-repeat;
    background-position: top; }

    .footer-block { width: 33vw; height: 10vh; padding: 40px;}
    .footer-block-center { display: flex; text-align: center; justify-content: space-evenly;}
    .footer-block-right { text-align: right; }
