* {
    box-sizing: border-box;
}

body {
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    background-color: #000;
    font-family: "Plus Jakarta Sans";
    font-weight: 300;
    width: 100%;
    position: relative;
}

.img-container {
    position: absolute;
    left: 0;
}

.logo-img {
    width: 150px;
    margin-left: 2rem;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 1rem;
    flex-wrap: wrap;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.nav-links li {
    gap: 24px;
    margin: auto 0.5rem;
}

.nav-links a {
    text-decoration: none;
    color: #FFFFFF;
    line-height: 15.4px;
    font-size: 14px;
    letter-spacing: 2px;
}

/* Media Queries */
@media screen and (max-width: 767px) {
    .navbar {
        flex-direction: column;
        flex-wrap: wrap;
    }   

    .nav-links {
        flex-direction: column;
    }

    .logo-img {
        margin-left: 15px;
    }
}
